.About {
  display: table;
  position: relative;
  height: 92vh;
  width: 55vw;
  font-size: 1em;
  margin: 0 auto;
  line-height: 300%;
}

.About > div {
  display: table-cell;
  vertical-align: middle;
}
.About > div h1 {
  font-weight: 300;
}
.About > div h1 i {
  font-weight: 500;
  color: #134859;
}
.About > div h1 u {
  font-style: italic;
}
.About > div h1:first-of-type {
  font-weight: 700;
  font-size: 3em;
  color: #134859;
}
.About > div div {
  display: inline-block;
  font-size: 2vw;
  padding: 8px;
  padding-top: 25px;
  margin-right: 25px;
  color: #0079A2;
}

@media only screen and (max-width: 768px) {
  .About {
    width: 85vw;
  }

  .About > div h1 {
    font-size: 4.5vw;
    line-height: 180%;

  }
  .About > div h1:first-of-type {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 1200px) {

  .About h1:not(:first-child) {
    font-size: 1.5em !important;
  }
  .About h1 {
    font-size: 2.3em !important;

  }
}

@media only screen and (max-width: 400px) {
  .About {
    display: block;
  }
  .About > div {
    display: block;
    margin-top: 10vh;
  }
}
